<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Ivan Hanigan's CV</title>

    <link rel="stylesheet" href="/Ivan-Hanigan-CV/stylesheets/styles.css">
    <link rel="stylesheet" href="/Ivan-Hanigan-CV/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
    <div class="wrapper">
      <header>
        <strong id="blog-title">
          <a href="/Ivan-Hanigan-CV/index.html" rel="home"><h1>Ivan-Hanigan-CV</h1></a>
        </strong>

<span class="dropdown">
  <button class="dropbtn">Biography</button>
  <div class="dropdown-content">


                  <div><p><a class="Values and vision" href="/Ivan-Hanigan-CV/values.html">→ Values and vision</a><p></div>
                  <div><p><a class="About me" href="/Ivan-Hanigan-CV/01-about-me.html">→ About me</a>        <p></div>
                  <div><p><a class="Our partners" href="/Ivan-Hanigan-CV/our-partners.html">→ Our partners</a><p></div>
              <!--<p></p>-->
  </div>
</span>
<p></p>
<span class="dropdown">
  <button class="dropbtn">Teaching</button>
  <div class="dropdown-content">

                  <p><a class="Research" href="/Ivan-Hanigan-CV/our-research.html">→ Research</a><p>
                  <p><a class="Engagement and advocacy" href="/Ivan-Hanigan-CV/engagement.html">→ Engagement and advocacy</a><p>
<!--              <p></p>-->
  </div>
</span>
<p></p>
<span class="dropdown">
  <button class="dropbtn">Research</button>
  <div class="dropdown-content">

                  <p><a class="Publications" href="/Ivan-Hanigan-CV/publications.html">→ Publications</a><p>
                  <p><a class="Training materials" href="/Ivan-Hanigan-CV/training.html">→ Training materials</a><p>
                  <p><a class="Social media" href="/Ivan-Hanigan-CV/social-media.html">→ Social media</a><p>
              <p></p>
  </div>
</span>
<p></p>
<span class="dropdown">
  <button class="dropbtn">Engagement</button>
  <div class="dropdown-content">

                  <p><a class="Publications" href="publications.html">→ Publications</a><p>
                  <p><a class="Training materials" href="training.html">→ Training materials</a><p>
                  <p><a class="Social media" href="social-media.html">→ Social media</a><p>
              <p></p>
  </div>
</span>
<p></p>

              <a href="/Ivan-Hanigan-CV/blog.html">Blog</a>
       <p></p>

              <a href="/Ivan-Hanigan-CV/archives.html">Archives</a>
       <p></p>
              <a class="Contact us" href="mailto:ivan.hanigan@gmail.com">Contact us</a>
       <p></p>

      </header>
      <section>
        <h3>{{ page.title }}</h3>

        <p>
          {{ content }}
        </p>
    </section>

      </p>

      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/ivanhanigan">ivanhanigan</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>


      </footer>
    </div>

    <script src="/Ivan-Hanigan-CV/javascripts/scale.fix.js"></script>    
  </body>
</html>
