<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Ivan Hanigan's CV</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
    <div class="wrapper">
      <header>
        <strong id="blog-title">
          <a href="index.html" rel="home"><h1>Ivan Hanigan's CV</h1></a>
        </strong>

<span class="dropdown">
  <button class="dropbtn">Biography</button>
  <div class="dropdown-content">


                  <div><p><a class="Values and vision" href="values.html">→ Values and vision</a><p></div>
                  <div><p><a class="Education and employment" href="education-and-employment.html">→ Education and employment</a>        <p></div>
                  <div><p><a class="Professional training and qualifications" href="professional-training-and-qualifications.html">→ Professional training and qualifications</a><p></div>
                  <div><p><a class='Programming expertise ' href='programming-expertise.html'>→ Programming expertise</a><p></div>
                  <div><p><a class='People management and project management ' href='people-management-and-project-management.html'>→ People management and project management</a><p></div>
                  <div><p><a class='Awards ' href='awards.html'>→ Awards</a><p></div>
                  <!--<p></p>-->
  </div>
</span>
<p></p>
<span class="dropdown">
  <button class="dropbtn">Teaching</button>
  <div class="dropdown-content">

<div><p><a class='Teaching and supervision ' href='teaching-and-supervision.html'>→ Teaching and supervision</a><p></div>
<div><p><a class='Capacity building training ' href='capacity-building-training.html'>→ Capacity building training</a><p></div>

                    
<!--              <p></p>-->
  </div>
</span>
<p></p>
<span class="dropdown">
  <button class="dropbtn">Research</button>
  <div class="dropdown-content">

<div><p><a class='Papers ' href='papers.html'>→ Papers</a><p></div>
<div><p><a class='Book Chapters ' href='book-chapters.html'>→ Book Chapters</a><p></div>
<div><p><a class='Reports ' href='reports.html'>→ Reports</a><p></div>
<div><p><a class='Research grants ' href='research-grants.html'>→ Research grants</a><p></div>
<div><p><a class='Conferences and workshops ' href='conferences-and-workshops.html'>→ Conferences and workshops</a><p></div>
<div><p><a class='Data and code ' href='data-and-code.html'>→ Data and code</a><p></div>
<div><p><a class='Invited presentations ' href='invited-presentations.html'>→ Invited presentations</a><p></div>
<div><p><a class='Consulting ' href='consulting.html'>→ Consulting</a><p></div>

<!--              <p></p> -->
  </div>
</span>
<p></p>
<span class="dropdown">
  <button class="dropbtn">Engagement</button>
  <div class="dropdown-content">

<div><p><a class='Media ' href='media.html'>→ Media</a><p></div>
<div><p><a class='Policy briefs ' href='policy-briefs.html'>→ Policy briefs</a><p></div>
<div><p><a class='Peer reviewing ' href='peer-reviewing.html'>→ Peer reviewing</a><p></div>
<div><p><a class='Professional societies ' href='professional-societies.html'>→ Professional societies</a><p></div>
<div><p><a class='International collaborations ' href='international-collaborations.html'>→ International collaborations</a><p></div>
<div><p><a class='Committees ' href='committees.html'>→ Committees</a><p></div>
<div><p><a class='Community engagement and participation ' href='community-engagement-and-participation.html'>→ Community engagement and participation</a><p></div>

<!--              <p></p>-->
  </div>
</span>
<p></p>

              <a href="blog.html">Blog</a>
       <p></p>

              <a href="archives.html">Archives</a>
       <p></p>
              <a class="Contact me" href="mailto:ivan.hanigan@curtin.edu.au">Contact me</a>
       <p></p>

      </header>
      <section>
        <h3>{{ page.title }}</h3>

        <p>
          {{ content }}
        </p>
    </section>

      </p>

      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/ivanhanigan">ivanhanigan</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>


      </footer>
    </div>

    <script src="javascripts/scale.fix.js"></script>    
  </body>
</html>
